.hero-container{
  position: relative;
  z-index: 100;
}

.hero-text{
  position: relative;
  z-index: 200;
}

.hero-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover ;
  background-position: center center;
  opacity: 0.5;
}

.about{
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  display: flex;
  align-items: center;
  height: 200px;
}

/* .nav-link { */
  /* color: var(--bs-light); */
/*  */
/* } */


/* #homebtn{ */
  /* color: var(--bs-light) !important; */
/* } */

.nav-link:not(#soon){
  color: var(--bs-light) !important;
}

.nav-link:not(#soon):hover{
  color: var(--bs-warning) !important;
}

#searchbtn:hover {
  color: var(--bs-dark);
}

.navbar-toggler{
  background-color: var(--bs-warning) !important;
}



iframe{
  display: flex;
}

.wrapper{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper span{
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
}

/* @media (max-width:575px) { */
  /* iframe{ */
    /* width: 200ppx; */
    /* height: auto; */
  /* } */
/* } */
/*  */
/* @media (min-width:576px) and (max-width:767px){ */
  /* iframe{ */
    /* width: 700px; */
    /* height: auto; */
  /* } */
/* } */
/*  */
/* @media (min-width:768px) { */
  /* iframe{ */
    /* width: 768px; */
    /* height: auto; */
  /* } */
/* } */
  


